name: Mindbug CI Workflow

on:
  push:
    tags:
      - '*'
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  backend:
    runs-on: windows-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Setup Java 25 environment
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 25
          cache: 'maven'

      - name: Build
        run: mvn clean package -DskipTests
        working-directory: backend

      - name: Run unit tests
        run: mvn test
        working-directory: backend

      - name: Generate Maven site
        run: mvn site
        working-directory: backend

      - name: Upload Maven site
        uses: actions/upload-artifact@v5
        with:
          name: mindbug-site
          path: backend/target/site

  frontend:
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: 23.5.0

      - name: Install dependencies
        run: npm install
        working-directory: ./frontend

      - name: Build frontend
        run: npm run build
        working-directory: ./frontend
