@import 'base.css';
@import 'buttons.css';
@import 'modal.css';
@import 'card-keywords-TOUGH.css';
@import 'card-keywords-Icons.css';

#app {
  display: inline-block;
  width: 100%;
}

* {
  user-select: none;
}

@font-face {
  font-family: "ZalamanderCaps";
  src: url("@/assets/fonts/ZalamanderCaps-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}